#farm {
    background: #e8eee0;
    padding: 80px 0;

    @media (max-width: 767px) {
        padding: 40px 0;
    }

    &::before {
        background: transparent;
    }
}

.farm-banner {
    .farm-banner-img {
        height: 800px;
        width: 100%;
        background: url('../img/farm.jpg') no-repeat bottom / cover;
        @media (max-width: 767px) {
            height: 350px;
        }
    }

    .farm-banner-text {
        max-width: 1320px;
        margin: 60px auto;
        padding-left: 12px;
        padding-right: 12px;

        h2 {
            font-size: 2.5rem;
            font-weight: bold;
            letter-spacing: 1px;
            @media (max-width: 767px) {
                font-size: 1.5rem;
            }
            span {
                color: #519328;
                display: inline-block;
                margin-left: 12px;
            }
        }
        p {
            margin-top: 20px;
            @media (max-width: 767px) {
                margin-top: 12px;
            }
        }
    }
}

.farm-area {
    display: flex;
    max-width: 1320px;
    margin: 60px auto;
    padding-left: 12px;
    padding-right: 12px;
    gap: 32px;
    justify-content: space-between;

    @media (max-width: 767px) {
        flex-direction: column;
        margin-top: 20px;
    }

    .farm-page {
        width: 20%;
        flex-shrink: 0;

        @media (max-width: 767px) {
            display: flex;
            width: 100%;
            justify-content: space-between;
        }

        li {
            margin-bottom: 20px;
            letter-spacing: 1px;
            font-weight: 500;
            font-size: 1.25rem;

            @media (max-width: 767px) {
                font-size: 1rem;
            }

            &:hover a {
                background: #519328;
                color: #fff;
            }
        }

        a {
            display: block;
            transition: .3s all;
            padding: 8px;

            @media (max-width: 767px) {
                writing-mode:vertical-lr;
                letter-spacing: 5px;
            }
        }

        
    }

    .farm-content {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

        h3 {
            font-size: 2rem;
            font-weight: bold;
            margin-bottom: 30px;
            border-left: 8px solid #519328;
            padding-left: 16px;
            letter-spacing: 1px;
        }

        img {
            width: 100%;
            height: 500px;
            object-fit: cover;
        }

        p {
            margin-top: 20px;
            letter-spacing: 1px;
        }
    }
}


.farm-active {
    background: #519328;
    color: #fff;

    &::before {
        content: url('../img/auto_awesome_white_24dp.svg');
        vertical-align: middle;
        margin-right: 8px;

        @media (max-width: 767px) {
            margin-right: 0;
            margin-bottom: 4px;
        }
    }
}